<app-nav></app-nav>
<div class="container-flex content background-image">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Lista de Usuarios</h2>
            <div class="d-flex mb-3">  
                <input type="text" class="form-control me-2 flex-grow-1" placeholder="Buscar usuario...">
                <button class="btn btn-secondary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#nuevoUsuarioModal">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p *ngIf="var_id != ''">
                        Usuario tiene este id: {{var_id}} y el rol: {{var_rol}}
                    </p>
                    <p *ngIf="var_id == ''">
                        Usuario 1
                    </p>
                    <div>
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>Usuario 2</p>
                    <div>
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>Usuario 3</p>
                    <div>
                        <button class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Modal para agregar nuevo usuario -->
    <div class="modal fade" id="nuevoUsuarioModal" tabindex="-1" aria-labelledby="nuevoUsuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevoUsuarioModalLabel">Agregar Nuevo Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para cargar un nuevo usuario -->
                    <form>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <!-- Agrega más campos del formulario aquí -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>

  </div>

<app-footer></app-footer>